.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 700px;
    background-color: #fff;
    padding-bottom: 30px;
    border-radius: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #40DB2B;
    font-size: 50px;
    font-weight: 700;
}

.underline {
    width: 190px;
    height: 8px;
    background-color: #40DB2B;
    border-radius: 9px;
}

.inputs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #eaeaea;
    border-radius: 8px;
    padding: 0px 20px;
}

.input img {
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 20px;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: #fff;
    background-color: #40DB2B;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.submit:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

p {
    font-size: 20px;
    margin-bottom: 0px;
    /* padding-bottom: 0px; */
    margin-left: 92px;
}