.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 85vw;
    background-color: #fff;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #40DB2B;
    font-size: 50px;
    font-weight: 700;
}

.underline {
    width: 190px;
    height: 8px;
    background-color: #40DB2B;
    border-radius: 9px;
}

.inputs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 77rem;
    height: 80px;
    background-color: #eaeaea;
    border-radius: 8px;
    padding: 0px 20px;
}

.input img {
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 20px;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
    justify-content: center;
    align-items: center;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: #fff;
    background-image: linear-gradient(to top right, #b6f7d5, #10D164);
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.submit:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
    background-image: linear-gradient(to bottom right, #72FFB6, #10D164);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

p {
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 92px;
}

.submit-container button {
    border: none;
    outline: none;
}